.custom-container {
  max-width: 960px; 
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  text-align: left;
}

.film-poster {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.film-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.film-release,
.film-details,
.film-synopsis {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
  text-align: left;
}

.comment-section-title,
.comment-form-title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}
